*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-lightone: #e8e8f0;
	--color-lighttwo: #babad4;
	--color-lightthree: #8c8cb7;
	--color-middleone: #5e5e9a;
	--color-middletwo: #191970;
	--color-middlethree: #11114e;
	--color-darkone: #0a0a2c;
	--color-darktwo: #02020b;
	--color-info: #ffff00;
	--color-error: #ff0000;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.2em;
	background-color: var(--color-darkone);
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-size: 2rem;
	text-align: center;
	color: var(--color-lighttwo);
	padding-bottom: 0.8em;
	margin-bottom: 0.6em;
	border-bottom: 0.04em solid var(--color-lighttwo);
}

p {
	font-size: 1rem;
	color: var(--color-lightone);
	text-align: center;
	padding-bottom: 0.8em;
}

ul {
	font-size: 1rem;
	color: var(--color-lighttwo);
	padding-bottom: 1em;
}

li {
	margin-bottom: 0.4em;
}

@import './medium';
@import './extra\ large';
